/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   display: inline-block;

 }

 .photo img {
   max-width: 400px;
   max-height: 300px;

 }

 .photo_show img {
   max-width: 950px;
   height: auto;
 }

.albums {
  display: inline-block;
  justify-content: space-between;
  width: 300px;

}

.albums img {
  max-width: 300px;
  height: 300px;
  position: absolute;
  clip: rect(0px,300px,300px,0px);
}

// .album_cover img {
//     height: 300px;
//     padding: 20px;
// }
//
// .album_coverbox img {
//   position: absolute;
//   clip: rect(0px,300px,300px,0px);
//   margin: 0 auto;
// }
